<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <h1>{{ titulo }}</h1>
    <h1>{{ saudacao() }}</h1>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Usando VueJS!',
            saudacoes: 'Tenha uma boa semana!'
        },
        methods: {
            saudacao() {
                console.log(this)// vai mostrar toda a instância do Vue
                return this.saudacoes // Dentro da instancia do Vue usa-se o this. para acessar os atributos da propriedade data
            }
        }
    })
</script>